MONGODB_URI=mongodb://user:pass@node1:27017,node2:27017/comparex?ssl=true&authSource=admin&retryWrites=true&w=majority
GEMINI_API_KEY=your_google_gemini_api_key
ENABLED_DOMAINS=retailrocket,steam,bookcrossing
